<div class="team">
  <div class="member">
    <div class="picture">
      <img src="/assets/perfil.jpg">
    </div>
    <div class="name">
      Lucas Castro
    </div>
    <div class="message">
      Full stack developer since 2005, currently work with Ruby and play with Elixir and Ionic.
      <a href="lucas">Résumé</a>
    </div>
  </div>
  <div class="member">
    <div class="picture">
      <img src="/assets/jp.jpg">
    </div>
    <div class="name">
      João Paulo Barros
    </div>
    <div class="message">
      13+ years of experience creating critical
      softwares and managing teams. <a href="joaopaulo">Résumé</a>
    </div>
  </div>
</div>

<div class="clearfix"></div>
